# Voir https://docs.github.com/articles/about-codeowners
# Le dernier motif qui correspond a un fichier definit son(ses) proprietaire(s).

# Documentation
/docs/ @romiprobal

# Configuration applicative
/config/ @youssouf95

# Tout le reste, par defaut
* @youssouf95
